.nmlhtml {
    padding-right: 20px;
}
.nmlhtml,.nmlhtml .nmlnode {
    font-family: sans-serif;
    margin: 5px;
    padding-left: 20px;
}
.nmlhtml .paragraph {
    font-family: serif;
    margin: 5px;
}
.nmlhtml span.space {
    display: inline-block;
    width: 0.2em;
    height: 3px;
    background-color: rgba(255, 0, 0, 0.2);
}
.nmlhtml .blockcode_area {
    font-family: monospace;
    padding: 5px;
    background-color: rgb(13, 20, 82);
}
.nmlhtml .documenttitle {
    padding: 7px;
    margin: 5px;
    background-color: rgba(213, 213, 213, 0.2);
}
.nmlhtml .nmlnodetitle {
    padding: 2px;
    margin: 5px;
    background-color: rgba(69, 204, 112, 0.2);
}